body {
    margin: 0;
}

#page-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

#main {
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
}

.task-container {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 1px #eaeaea);
}

.task-container:hover {
    outline: 1px solid #1295ba;
}