:root {
    --delete-red: #c00;
    --edit-blue: #0492ba;
    --btn-primary-bg: #0082e1;
    --btn-primary-bg-hover: #37a9fb;
    --btn-primary-text: #ffffff;
    --btn-secondary-bg-hover: #90d1ff;
    --btn-secondary-text: #005089;
    --sidebar-bg: #d8efff;
    --sidebar-hightlight: #b1daf7;
    --main-bg: #ffffff;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

#page-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

#sidebar {
    background: var(--sidebar-bg);
    overflow: scroll;
    border-right: 1px solid #cdcdcd;
}

#all-tasks {
    padding: 20px;
    border-bottom: 1px solid #8ebfe1;
    font-weight: 600;
}

#new-group-btn-cont {
    padding: 0 20px;
}

#add-new-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    padding: 4px 8px;
    cursor: pointer;
    color: var(--btn-secondary-text);
    border: 1px solid #8ebfe1;
    border-radius: 5px;
    background: none;
    width: 100%;
    margin-top: 20px;
}

#add-new-group svg {
    pointer-events: none;
}

#add-new-group:hover {
    background-color: var(--btn-secondary-bg-hover);
}


#add-task-form, #add-group-form {
    position: absolute;
    z-index: 9999;
    background: #05285ecf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

#add-task-form.active, #add-group-form.active {
    display: flex;
}

.add-task-form, .add-group-form {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 3px #0007);
}

.add-task-form fieldset, .add-group-form fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-task-form legend, .add-group-form legend {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.add-task-form input, .add-group-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    width: clamp(200px, 500px, 95vw);
}



.add-task-form label, .add-group-form label {
    display: block;
    margin-bottom: 5px;
}

label[for="input-task-priority"] {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 27px;
    top: -5px;
}

div.task-priority-container {
    margin-top: 20px;
}

div.task-priority-container::before {
    content: 'High Priority Task';
    margin-right: 15px;
    line-height: 27px;
}

label[for="input-task-priority"] input {
    opacity: 0;
    width: 0;
    height: 0;
}

label[for="input-task-priority"] span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    border: 1px solid #333;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
    border: 1px solid #999;
}

label[for="input-task-priority"] span:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    filter: drop-shadow(0 2px #00000033);
    border: 1px solid #00000033;
}

label[for="input-task-priority"] input:checked + span {
    background: #0082e1;
    border: 1px solid #005ea2;

}

label[for="input-task-priority"] input:checked + span:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


.add-task-form button, .add-group-form button {
    cursor: pointer;
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

#add-task-close.close-btn, #add-group-close.close-btn {
    background: none;
    color: #777777;
    position: absolute;
    top: 10px;
    right: 5px;
}

#add-task-close.close-btn svg, #add-group-close.close-btn svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

#main-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #dcdcdc;
}

#main-header h1 {
    margin: 0;
}

#main-header #add-new-task {
    background: var(--btn-primary-bg);
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    color: var(--btn-primary-text);
    font-size: 18px;
    cursor: pointer;
}

#add-new-task svg {
    margin-left: 13px;
    pointer-events: none;
}

#main-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

#main-title svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

#main {
    padding: 20px;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.task-container {
    padding: 8px 10px 8px 25px;
    border-radius: 5px;
    display: grid;
    grid-template: 1fr / 40px 2fr 100px;
}

.task-container:hover {
    background-color: #fafafa;
    outline: 1px solid #eaeaea;
}

.task-container.task-completed * {
    text-decoration: line-through;
    color: #777;
}

.task-container.high-priority .task-status::before {
    content: '!';
    position: absolute;
    left: -12px;
    font-weight: 600;
    color: #c00;
    font-size: 22px;
}

.task-status {
    display: flex;
    align-items: center;
    position: relative;
}

.task-status label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #777777;
    position: relative;
}

.task-status label:hover {
    border: 1px solid #1295ba;
    background-color: #ffffff;
    filter: drop-shadow(0 0 3px #1295ba88);
}

.task-status input {
    width: 0;
    height: 0;
    opacity: 0;
}

.task-status span {
    display: none;
}

.task-status input:checked + span {
    display: block;
    width: 20px;
    height: 20px;
    color: #111;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
    top: 0.5px;
    left: 2.5px;

}

.task-details {
    display: flex;
    flex-direction: column;

}

.task-container h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.task-desc {
    margin-bottom: 10px;
    display: none;
}

.task-ui {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-actions {
    display: none;
}

.task-container:hover .task-actions {
    display: block;
}


.task-actions button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    
}

.task-actions button * {
    pointer-events: none;
}

.task-actions button svg {
    width: 30px;
    height: 30px;
}

.task-actions .task-delete {
    color: var(--delete-red);
}

.task-actions .task-edit {
    color: var(--edit-blue);
}

.task-priority {
    display: none;
    text-transform: uppercase;
    padding: 4px 13px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}

.task-priority.low {
    background: #ffec83;
    color: #898300;
}

.task-priority.medium {
    background: #ffcb63;
    color: #896200;
}

.task-priority.high {
    background: #f4716c;
    color: #630c06;
}

.task-overdue {
    color: #0f80c4;
    font-weight: 600;
}

.task-due-today {
    color: #c00;
    font-weight: 600;
}

.task-due-soon {
    color: rgb(233, 120, 0);
    font-weight: 600;
}

#group-list {
    padding: 10px;
    list-style: none;
    margin: 10px 0;
    
}

#group-list .active-group {
    background-color: #b1daf7;
    border-radius: 4px;
    color: var(--btn-secondary-text);
}

.group-list-item {
    padding: 4px 10px;
    cursor: pointer;
    font-weight: 600;
}